.home{
    .home_img{
        width: 300px;
        border-radius: 150px;
    }
}
.body{
    background:#EDF7FA;
    .caard{
        background: #fff;
        border-radius: 8px;
        
    }
    .bss{
        border-right: solid black;
    }
}
.contant{
    .contant_img{
        width: 400px;
        height: 250px;
    }
        .rgb{
            color:  #21243D;
        }
        .rgb2{
            color:  #8695A4;;
        }
        .sana{
            padding: 2px 20px;
            color: #fff !important; 
            background: #21243D;
            border-radius: 100px;
        }

}